{% load staticfiles %}
<html>
<body style="background-color:silver;"> 
<style type="text/css">
a:link { font-weight:bold; color:#555555; text-decoration:none; }
a:visited { font-weight:bold; color:#555555; text-decoration:none; }
a:focus { font-weight:bold; color:red; text-decoration:none; }
a:hover { font-weight:bold; color:red; text-decoration:none; }
a:active { font-weight:bold; color:#555555; text-decoration:none; }
</style>
 
  <head>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
  </head>

  <body>
    {% block content %}
    {% endblock %}
	 

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
